.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.author {
  font-weight: 400;
  margin-top:10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 550;
  /* line-height: 34px; */
  /* color: #777; */
  background-image: url("./images/background2.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-light {
  background-color: white!important;
}

.btn-primary {
  border-color: white;
}

.btn-outline-secondary {
  border-color: lightgray;
}

.btn-toolbar {
  justify-content: center;
}

/* .card-body {
  max-height: 89px;
} */


#ctitle, #c1title {
  border: 1px solid rgba(0,0,0,.125)
}
.card-title {
  border: 1px solid rgb(153, 153, 153);
  height: 47px;
  line-height: 45px;
}
.form-control {
  border-color: lightgray;
}
.login {
  border: 1px solid rgb(143, 138, 238);
}
.hero {
  text-align: center;
}

.loginBtn {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.modal-content {
  align-content: center;
  width: auto;
}


.loginModalForm {
  width: 466px;
}

.postback {
  background-color: lightgray;
}
.posts {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%
}

#peoplelogo {
  width: 60px;
  height: auto;
}


#logoutlogo {
  width: 60px;
  height: auto;
}

.searchResultsText {
  font-weight: 300;
}

.scrolling, .navbar{
  opacity: 0.9;
}
.new-password-input1{
  margin-right:10px
}

.new-password-div{
  margin-top:20%;
}

.delete-hook-button{
  margin-bottom:10px;
}