.footer {
    position: fixed;
    bottom: 0;
    left: -15px;
    width: 110%;
    height: 70px;
    color: white;
    background-color: #2196f3;

}

.footer > .lowerfooter > p {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    padding-bottom: 5px;
    /* padding-left: 10px; */
    margin: 0;
    font-weight: 400;
    background: #0c7cd5;
}